@use "sass:color";

.card-container {
  @apply relative aspect-[4/3] p-4 flex rounded-2xl border-secondary border-2 flex-col gap-3
  overflow-hidden w-full;

  container-type: inline-size;

  &::before {
    @apply absolute inset-0 pointer-events-none;
    content: "";
    background-image: repeating-linear-gradient(
                    45deg,
                    rgba(255, 255, 255, 0.02) 0,
                    rgba(255, 255, 255, 0.02) 1px,
                    transparent 1px,
                    transparent 16px,
    );
  }

  background: radial-gradient(120% 120% at 10% 10%, #1a1a1a 0%, transparent 60%),
  linear-gradient(135deg, #0b0b0b, #141414);

  &:hover .card-edit {
    transform: translateY(-10px);
    opacity: 1;
  }

  .card-edit {
    @apply absolute bottom-0 mt-auto border-secondary border-2 text-secondary z-10 rounded-xl px-4 py-2 text-center opacity-0 w-[90%] left-[5%];
    transform: translateY(0px);
    transition: all .2s;
    background: color.adjust(black, $alpha: -0.2);

    &:hover {
      @apply shadow-current shadow-inner;
    }
  }

  .card-header {
    @apply relative z-10;
  }

  .card-preview {
    @apply flex-1 flex items-center justify-center relative z-10 mb-6;

    .card-stack {
      @apply relative w-full;

      .card-center {
        @apply absolute inset-0 grid place-items-center;

        .card-ghost {
          @apply aspect-[3/4] absolute w-[35cqw] rounded-xl border-dashed border-[1px] border-white left-[calc(50%_-_17.5cqw)];
          background: linear-gradient(135deg, #1f1f1f, #0f0f0f);

          @for $i from 1 through 3 {
            &:nth-child(#{$i}) {
              transform: translate(($i - 1) * 10px, ($i - 1) * -6px) rotate(-25deg + ($i * 12));
            }
          }
        }
      }
    }
  }
}
