@use "sass:color";

.card {

  &:hover {
    transform: translateY(-3px);
  }
}

.banner {
  background-size: cover;
  background-position: center;
}

.overlay {
  background: linear-gradient(
                  to bottom,
                  rgba(0,0,0,0.2) 0%,
                  rgba(0,0,0,0.7) 100%
  );
}


