/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@import "tailwindcss";
@config "../tailwind.config.js";

@layer utilities {
    .fade-in-children {
        & > * {
            opacity: 0;
            animation: fadeIn 0.5s forwards;
        }
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

html {
    height: 100%;
}

body {
    overflow: hidden;
    color: white;
    background-color: #181A1B;
    height: 100%;
}

input {
    background-color: transparent;
}

* {
    box-sizing: border-box;
}

.theme-dark {
    --qwik-primary: rgb(33 37 41);
    --qwik-secondary: #E7AE32;
}

.theme-light {
    --qwik-primary: #E7AE32;
    --qwik-secondary: rgb(33 37 41);
}
